.container--left {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
    background: black;
    box-shadow: 2px 2px 5px rgb(36, 36, 36);
    scroll-margin-top: 75px;
    border-radius: 5px;
}

.container--right {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    background: black;
    box-shadow: 2px 2px 5px rgb(36, 36, 36);
    scroll-margin-top: 75px;

}

.container--center {
    background: black;
    border-bottom: 1px solid;
    scroll-margin-top: 75px;
}

.container--equal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.container__page--center{
    background: #eee;
}

.container--social {
    display: flex;
    padding:10px;
    justify-content: center;
}

.container__item {
    padding: 10px;
    margin: 5px;
    /* border: solid 1px; */
    text-align: center;


}

.container__link{
    margin-left: 40px;
    margin-right: 40px;
}

.lala:hover{
    color:#d551ac;
}

.container__header{
    color: #baab8f;
    text-align: left;
    text-decoration: underline;
    font-size: 30px;
}

.container__header--center {
    color: teal;
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}

.container__text {
    text-align: left;
    font-size: 20px;
    color: white;
}


@media (max-width: 767px) {

    .container--left{
        grid-template-columns: 1fr;
    }
    .container--right{
        grid-template-columns: 1fr;
    }


}