.footer {
    width: 100%;
    background: black;
    margin: 0 auto;
}

.footer__container {
    max-width: 1400px;
    margin: 0 auto;
    /* border: solid white 1px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 10px; */
}

.footer__contact {
    width: 100%;

}

.footer__image{
    align-items: center;
}

.footer__logo {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    margin: 0 auto;
}

.footer__contactHeaader {
    font-size: 35px;
    color: white;
    text-align: center;
    border-bottom: 1px #b08f53 solid;
}

.footer__contactHeaader--smaller {
    font-size: 30px;
    color: white;
    text-align: center;
}

.footer__media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__link--contact {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0 20px;
}

.footer__link--contact:hover {
    color: #b08f53;  
}

@media(max-width: 767px) {
    .footer__container{
        grid-template-columns: 1fr;
    }

    .footer__logo {
        width:50%;
        margin-left: 25%;
    }

}