.header--center {
    color:white;
    text-align: center;
    border-bottom: 1px #b08f53 solid;
    padding:10px;
    font-size: 35px;

}



.mobileHeader {
    background:black;
    position: fixed;
    width:100%;
    border-bottom: 2px #b08f53 solid;
}

.mobileHeader__buttons {
    display:flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
}

.button__container{
    background-color: transparent;
    border: none;
}

.button__mainHeader{
    fill: none;
    width: 40px;
    color: #b08f53;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
 
}

.link__mobileHeader{
    color: white;
    background: #4141417a;
    max-width: 100%;
}

.disable {
    display: none;
}


@media (min-width: 768px) {
    .mobileHeader{
        display: none;
    }
    .mainHeader {
        background: black;
        height: 70px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width:100%;
        border-bottom: 2px white solid;
    }
}



@media (max-width: 767px) {
    .header--center {
        font-size: 30px;
    }

    .mainHeader {
        display: none;
    }
}