.header--center {
    color:white;
    text-align: center;
    border-bottom: 1px solid;
    padding:10px;
    font-size: 35px;

}



.mobileHeader {
    background: rgb(22, 24, 29);
    /* height: 70px;
    padding: 10px; */
    position: fixed;
    width:100%;
}

.mobileHeader__buttons {
    display:flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
}

.link__mobileHeader{
    color: white;
    background: #414141;
    max-width: 100%;
}

.disable {
    display: none;
}


@media (min-width: 768px) {
    .mobileHeader{
        display: none;
    }
    .mainHeader {
        background: black;
        height: 70px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width:100%;
    }
}



@media (max-width: 767px) {
    .header--center {
        font-size: 30px;
    }

    .mainHeader {
        display: none;
    }
}