.header--center {
    color:white;
    text-align: center;
    border-bottom: 1px solid;
    padding:10px;
    font-size: 35px;

}



.mobileHeader {
    background: rgb(22, 24, 29);
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 30px;
    width:100%;
}



@media (min-width: 768px) {
    .mobileHeader{
        display: none;
    }
    .mainHeader {
        background: black;
        height: 70px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width:100%;
    }
}



@media (max-width: 767px) {
    .header--center {
        font-size: 30px;
    }

    .mainHeader {
        display: none;
    }
}