.icon__instagram {
    width: 100px;
    height: 100px;
    fill: currentColor;
    color: white;
}

.icon__instagram--mobile {
    width: 75px;
    height: 75px;
    fill: currentColor;
    color: white;
    margin: 0 auto;
}

.icon__instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-radius: 28%;
}

.icon__instagram--mobile:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-radius: 28%;
}


.icon__fb {
    width: 100px;
    height: 100px;
    fill: currentColor;
    color: white;
}

.icon__fb--mobile {
    width: 75px;
    height: 75px;
    fill: currentColor;
    color: white;
    margin: 0 auto;
}

.icon__fb:hover {
    color: #3b5998;
}

.icon__fb--mobile:hover {
    color: #3b5998;
}


.icon__linkedine {
    width: 100px;
    height: 100px;
    fill: currentColor;
    color: white;
}

.icon__linkedine:hover {
    color: #0e76a8;
}

@media(max-width: 767px) {
    .icon__fb {
        width: 65px;
        height: 65px;
    }

    .icon__linkedine {
        width: 65px;
        height: 65px;
    }

    .icon__instagram {
        width: 65px;
        height: 65px;
    }

}