.navigation {
    display: flex;
    justify-content: center;
}

.navigation__link {
    color: white;
    display: block;
    margin-left: 20px;
    text-decoration: none;
}

.navigation__link:hover {
    color: #baab8f;  
}

.navigation__contact {
    text-align: right;
    margin-right: 20px;
}

.navigation__link--contact{
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.navigation__link--contact:hover {
    color: #baab8f; 
}

.navigation__mobileLink {
    color: white;
    display: block;
    padding:10px;
    border-bottom: solid 1px;
}

.navigation__mobileLink:hover {
    background: #727272;
}