.navigation {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.navigation__link {
    color: white;
    display: block;
    margin-left: 20px;
}


.navigation__contact {
    text-align: right;
    margin-right: 20px;
}

.navigation__link--contact{
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.navigation__link--contact:hover {
    color: teal;
}