html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}




.header__logo {
    width: 50px;
    border-radius: 50%;
}

.photo {
    max-width: 100%;
    height: 627px;;
    margin: 0 auto;
    /* resize: both; */
    overflow: auto;
    background-image: url("../images/gif.gif");
    background-size: cover;
    background-position: center;
}



.page {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
}

.photo__title {
    color: white;
    font-size: 50px;
}

.body {
    background-image: url("../images/background.png");
    font-family: 'Lato', sans-serif;
    line-height: 1.40;
}


.photo__omnie {
    width: 100%;
    padding: 10px;
}

.photo__together {
    width: 100%;
    padding: 10px;
}

@media (max-width: 767px) {
    .photo {
        height: 350px;
    }

    .photo__together {
        width: 75%;
        margin: 0 auto;
    }

}
